/*background color*/ 
body {
	background-color: #90EE90;
}
/*style for navigation bar*/ 
.nav{
    background-color: #FFF0F5;
    text-align: center;
}
.nav a {
	  font-size: 18px;
	  text-align: center;
	  color: #9400D3;
	  padding: 10px;
}
.nav a:hover {
	background-color: #DDA0DD;
	color: #FFF0F5;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

