/*background color*/ 
body {
	background-color: #90EE90;
}

h1 {
	font-family: 'Crete Round', serif;
	font-style: normal;
	font-size: 30px;
	line-height: 1.15;
	color: #008080;
}

h2, h3 {
	font-family: Arial, sans-serif;
	color: #2F4F4F;
}

p {
	font-family: Arial, sans-serif;
	color: #191970;
}
/*background image for index page */ 

	
/*style for navigation bar*/ 
.nav {
    background-color: #FFFAF0;
    text-align: center;
	list-style: none
}
.nav a {
	  font-size: 18px;
	  text-align: center;
	  color: #9400D3;
	  padding: 10px;
}
.nav a:hover {
	background-color: #DDA0DD;
	color: #FFF0F5;
}
.img {
	width: 500px;
}

.Div {	
	border: 8px #FFFAF0;
	background-color: #DDA0DD;    
	text-align: center;
}